<%= form_for(@establecimiento) do |f| %>
<% if @establecimiento.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@establecimiento.errors.count, "error") %> prohibited this establecimiento from being saved:</h2>

  <ul>
    <% @establecimiento.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <div class="field col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 ">
    <%= f.label :contribuyente_id, "Nit (*)" %>

    <%  if @contribuyentes.any? %>
        <%= select("establecimiento", "contribuyente_id", Contribuyente.all.collect {|c| [ c.nit + " – "+c.nombre , c.id ] }, { include_blank: true },class:"form-control")%>  
      <% else %>
      <%= content_tag(:select, "Nit",class:"form-control ", disabled:true) do %>
        <%= content_tag(:option, "Registra mas Contribuyentes para crear Establecimientos" ,class:"disabled", name: :contribuyente_id) %>
    <% end  %>
    <% end %>

  </div>
  <div class="field form-group col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" >
    <%= f.label :nombre, "Nombre (*)" %>
    <%= f.text_field :nombre, class:"form-control" %>
  </div>
  <div class="field form-group col-xs-3 col-sm-3 col-md-3 col-lg-3 ">
    <%= f.label :calle, "No. ó nombre de calle ó avenida (*)" %>
    <%= f.text_field :calle, class:"form-control" %>
  </div>
  <div class="field form-group  col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= f.label :numero_casa, "Numero de Casa (*)" %>
    <%= f.text_field :numero_casa, class:"form-control" %>
  </div>
  <div class="field form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= f.label :zona, "Zona (*)" %>
    <%= f.number_field :zona, class:"form-control"%>
  </div>
  <div class="field form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= f.label :colonia, "Colonia o Barrio" %>
    <%= f.text_field :colonia, class:"form-control"%>
  </div>
  <div class="field form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= f.label :departamento, "Departamento (*)" %>
    <%= f.text_field :departamento, class:"form-control" %>
  </div>
  <div class="field form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= f.label :municipio, "Municipio (*)" %>
    <%= f.text_field :municipio, class:"form-control" %>
  </div>
  <div class="field form-group col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <%= f.label :telefono, "Telefono (*)" %>
    <%= f.text_field :telefono, class:"form-control" %>
  </div>


  <div class="actions col-md-12 col-sm-12 col-xs-12">
  
    <%= link_to content_tag(:i ,' Volver' ,class:"fa fa-arrow-circle-left "), establecimientos_path , class:"btn btn-normal col-md-offset-3 col-md-2 col-sm-offset-3 col-sm-2"%>
    <%= button_tag(type: "submit", class: "btn btn-success col-md-2 col-sm-2") do %>
    <i class="fa fa-save"></i> Guardar 
    <% end %>
    <%= button_tag(type: "reset", class: "btn btn-danger col-md-2 col-sm-2") do %>
    <i class="fa fa-undo"></i> Reiniciar 
    <% end %>
    
  </div>
  <% end %>
