<p id="notice"><%= notice %></p>

<h1>Listing Establecimientos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Calle</th>
      <th>Numero casa</th>
      <th>Apto similar</th>
      <th>Zona</th>
      <th>Colonia</th>
      <th>Departamento</th>
      <th>Municipio</th>
      <th>Telefono</th>
      <th>Fax</th>
      <th>Apto postal</th>
      <th>Contribuyente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @establecimientos.each do |establecimiento| %>
      <tr>
        <td><%= establecimiento.nombre %></td>
        <td><%= establecimiento.calle %></td>
        <td><%= establecimiento.numero_casa %></td>
        <td><%= establecimiento.apto_similar %></td>
        <td><%= establecimiento.zona %></td>
        <td><%= establecimiento.colonia %></td>
        <td><%= establecimiento.departamento %></td>
        <td><%= establecimiento.municipio %></td>
        <td><%= establecimiento.telefono %></td>
        <td><%= establecimiento.fax %></td>
        <td><%= establecimiento.apto_postal %></td>
        <td><%= establecimiento.contribuyente %></td>
        <td><%= link_to 'Show', establecimiento %></td>
        <td><%= link_to 'Edit', edit_establecimiento_path(establecimiento) %></td>
        <td><%= link_to 'Destroy', establecimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Establecimiento', new_establecimiento_path %>
