<%= render 'mininav' %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nit</th>
      <th>Nombre</th>
      <th>Telefono</th>
      
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @establecimientos.each do |establecimiento| %>
        <% nit = establecimiento.contribuyente_id %>
        <% contribuyente = Contribuyente.find_by(id: nit) %>
    <tr>
      <td><%= contribuyente.nit %></td>
      <td><%= establecimiento.nombre %></td>
      <td><%= establecimiento.telefono %></td>
      <td class="td-btn">
        <%= link_to content_tag(:i ,'',class:"fa fa-eye"), establecimiento ,class:"btn btn-default col-md-12 text-center"%>
      </td>
      <td class="td-btn">
        <%= link_to content_tag(:i ,'',class:"fa fa-pencil"), edit_establecimiento_path(establecimiento) ,class:"btn btn-info col-md-12 text-center" %>
        
      </td>
      <td class="td-btn">
        <%= link_to content_tag(:i ,'',class:"fa fa-trash-o"), establecimiento, method: :delete, data: { confirm: 'Estas seguro?' },class:"btn btn-danger col-md-12 text-center" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>


<style>
  .todos{
    background: #CCD1D9;
  }
</style>