<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @establecimiento.nombre %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @establecimiento.calle %>
</p>

<p>
  <strong>Numero casa:</strong>
  <%= @establecimiento.numero_casa %>
</p>

<p>
  <strong>Apto similar:</strong>
  <%= @establecimiento.apto_similar %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @establecimiento.zona %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @establecimiento.colonia %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @establecimiento.departamento %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @establecimiento.municipio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @establecimiento.telefono %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @establecimiento.fax %>
</p>

<p>
  <strong>Apto postal:</strong>
  <%= @establecimiento.apto_postal %>
</p>

<p>
  <strong>Contribuyente:</strong>
  <%= @establecimiento.contribuyente %>
</p>

<%= link_to 'Edit', edit_establecimiento_path(@establecimiento) %> |
<%= link_to 'Back', establecimientos_path %>
