<div id="formulario-partida" class="actions col-md-12">
	<%= form_for(@partida) do |f| %>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nombre Cuenta</th>
				<th>Debe</th>
				<th>Haber</th>
			</tr>
		</thead>

		<tbody>

			<% @partida.cuentas.order(:posicion).each do |cuenta| %>
			<tr>
				<td class="left border-grueso-right"><%= cuenta.nombre%></td>
				<td><%= "Q" + cuenta.debe if  cuenta.debe != "" &&  cuenta.debe != "0.0"  %></td>
				<td><%= "Q" + cuenta.haber if cuenta.haber != "" && cuenta.haber != "0.0" %></td>
			</tr>
			<% end %>
				<tr>
					<td class="left border-grueso-right">Descripción</td>
					<td colspan="2"><%= f.text_field :descripcion, class:"form-control" %></td>
				</tr>
				<tr>
					<td class="left border-grueso-right">Total</td>
					<td class="termina-partida">Q<%= @partida.total["debe"] %></td>
					<td class="termina-partida">Q<%= @partida.total["haber"] %></td>
				</tr>

				</tbody>
			</table>
			<%= link_to content_tag(:i ,' Volver' ,class:"fa fa-arrow-circle-left "), libro_diario_resumen_path , class:"btn btn-normal col-xs-12 col-md-offset-3 col-md-3  col-sm-3"%>
			<%= button_tag(type: "submit", class: "btn btn-success col-xs-12 col-md-3 col-sm-3") do %>
			<i class="fa fa-save"></i> Actualizar Partida
			<% end %>
			<% end %>
		</div>

