<p id="notice"><%= notice %></p>

<p>
  <strong>Caja:</strong>
  <%= @partida.caja %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @partida.banco %>
</p>

<p>
  <strong>Clientes:</strong>
  <%= @partida.clientes %>
</p>

<p>
  <strong>Deudores:</strong>
  <%= @partida.deudores %>
</p>

<p>
  <strong>Acciones suscritas:</strong>
  <%= @partida.acciones_suscritas %>
</p>

<p>
  <strong>Suscriptores de acciones:</strong>
  <%= @partida.suscriptores_de_acciones %>
</p>

<p>
  <strong>Hipoteca:</strong>
  <%= @partida.hipoteca %>
</p>

<p>
  <strong>Prestamos fiduciarios:</strong>
  <%= @partida.prestamos_fiduciarios %>
</p>

<p>
  <strong>Documentos por cobrar:</strong>
  <%= @partida.documentos_por_cobrar %>
</p>

<p>
  <strong>Documentos por pagar:</strong>
  <%= @partida.documentos_por_pagar %>
</p>

<p>
  <strong>Cuentas por cobrar:</strong>
  <%= @partida.cuentas_por_cobrar %>
</p>

<p>
  <strong>Cuentas por pagar:</strong>
  <%= @partida.cuentas_por_pagar %>
</p>

<p>
  <strong>Proveedores:</strong>
  <%= @partida.proveedores %>
</p>

<p>
  <strong>Acreedores:</strong>
  <%= @partida.acreedores %>
</p>

<p>
  <strong>Inmuebles:</strong>
  <%= @partida.inmuebles %>
</p>

<p>
  <strong>Mobiliario y equipo:</strong>
  <%= @partida.mobiliario_y_equipo %>
</p>

<p>
  <strong>Equipo de computacion:</strong>
  <%= @partida.equipo_de_computacion %>
</p>

<p>
  <strong>Maquinaria:</strong>
  <%= @partida.maquinaria %>
</p>

<p>
  <strong>Herramientas:</strong>
  <%= @partida.herramientas %>
</p>

<p>
  <strong>Vehiculos:</strong>
  <%= @partida.vehiculos %>
</p>

<p>
  <strong>Cristaleria:</strong>
  <%= @partida.cristaleria %>
</p>

<p>
  <strong>Depreciacion acumulada mobiliario y equipo:</strong>
  <%= @partida.depreciacion_acumulada_mobiliario_y_equipo %>
</p>

<p>
  <strong>Depreciacion acumulada equipo de computacion:</strong>
  <%= @partida.depreciacion_acumulada_equipo_de_computacion %>
</p>

<p>
  <strong>Depreciacion acumulada maquinaria:</strong>
  <%= @partida.depreciacion_acumulada_maquinaria %>
</p>

<p>
  <strong>Depreciacion acumulada herramienta:</strong>
  <%= @partida.depreciacion_acumulada_herramienta %>
</p>

<p>
  <strong>Depreciacion acumulada vehiculos:</strong>
  <%= @partida.depreciacion_acumulada_vehiculos %>
</p>

<p>
  <strong>Depreciacion acumulada cristaleria:</strong>
  <%= @partida.depreciacion_acumulada_cristaleria %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @partida.capital %>
</p>

<p>
  <strong>Capital autorizado:</strong>
  <%= @partida.capital_autorizado %>
</p>

<p>
  <strong>Reserva legal:</strong>
  <%= @partida.reserva_legal %>
</p>

<p>
  <strong>Ventas:</strong>
  <%= @partida.ventas %>
</p>

<p>
  <strong>Servicios prestados:</strong>
  <%= @partida.servicios_prestados %>
</p>

<p>
  <strong>Comisiones devengadas:</strong>
  <%= @partida.comisiones_devengadas %>
</p>

<p>
  <strong>Alquileres devengados:</strong>
  <%= @partida.alquileres_devengados %>
</p>

<p>
  <strong>Arrendamiento de maquinaria:</strong>
  <%= @partida.arrendamiento_de_maquinaria %>
</p>

<p>
  <strong>Alquileres pagados:</strong>
  <%= @partida.alquileres_pagados %>
</p>

<p>
  <strong>Gastos generales:</strong>
  <%= @partida.gastos_generales %>
</p>

<p>
  <strong>Viaticos:</strong>
  <%= @partida.viaticos %>
</p>

<p>
  <strong>Seguros pagados:</strong>
  <%= @partida.seguros_pagados %>
</p>

<p>
  <strong>Servicios pagados:</strong>
  <%= @partida.servicios_pagados %>
</p>

<p>
  <strong>Reparacion y mantenimiento gastos:</strong>
  <%= @partida.reparacion_y_mantenimiento_gastos %>
</p>

<p>
  <strong>Repuestos y accesorios gastos:</strong>
  <%= @partida.repuestos_y_accesorios_gastos %>
</p>

<p>
  <strong>Combustibles y lubricantes:</strong>
  <%= @partida.combustibles_y_lubricantes %>
</p>

<p>
  <strong>Costo por servicio:</strong>
  <%= @partida.costo_por_servicio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @partida.telefono %>
</p>

<p>
  <strong>Energia electrica:</strong>
  <%= @partida.energia_electrica %>
</p>

<p>
  <strong>Medicina y medicamentos:</strong>
  <%= @partida.medicina_y_medicamentos %>
</p>

<p>
  <strong>Depreciacion mobiliario y equipo:</strong>
  <%= @partida.depreciacion_mobiliario_y_equipo %>
</p>

<p>
  <strong>Depreciacion equipo de computacion:</strong>
  <%= @partida.depreciacion_equipo_de_computacion %>
</p>

<p>
  <strong>Depreciacion maquinaria:</strong>
  <%= @partida.depreciacion_maquinaria %>
</p>

<p>
  <strong>Depreciacion herramienta:</strong>
  <%= @partida.depreciacion_herramienta %>
</p>

<p>
  <strong>Depreciacion vehiculos:</strong>
  <%= @partida.depreciacion_vehiculos %>
</p>

<p>
  <strong>Depreciacion cristaleria:</strong>
  <%= @partida.depreciacion_cristaleria %>
</p>

<p>
  <strong>Compras:</strong>
  <%= @partida.compras %>
</p>

<p>
  <strong>Intereses devengados:</strong>
  <%= @partida.intereses_devengados %>
</p>

<p>
  <strong>Intereses pagados:</strong>
  <%= @partida.intereses_pagados %>
</p>

<p>
  <strong>Terrenos:</strong>
  <%= @partida.terrenos %>
</p>

<p>
  <strong>Edificios:</strong>
  <%= @partida.edificios %>
</p>

<p>
  <strong>Gastos constitucion:</strong>
  <%= @partida.gastos_constitucion %>
</p>

<p>
  <strong>Sueldos y salarios:</strong>
  <%= @partida.sueldos_y_salarios %>
</p>

<p>
  <strong>Retenci¾n igss laboral:</strong>
  <%= @partida.retenci¾n_igss_laboral %>
</p>

<p>
  <strong>Cuota patronal:</strong>
  <%= @partida.cuota_patronal %>
</p>

<p>
  <strong>Bonificacion e incentivo laboral:</strong>
  <%= @partida.bonificacion_e_incentivo_laboral %>
</p>

<p>
  <strong>Bono 14:</strong>
  <%= @partida.bono_14 %>
</p>

<p>
  <strong>Aguinaldo:</strong>
  <%= @partida.aguinaldo %>
</p>

<p>
  <strong>Fletes sobre compras:</strong>
  <%= @partida.fletes_sobre_compras %>
</p>

<p>
  <strong>Indemnizaciones:</strong>
  <%= @partida.indemnizaciones %>
</p>

<p>
  <strong>Perdidas y ganancias:</strong>
  <%= @partida.perdidas_y_ganancias %>
</p>

<p>
  <strong>Publicidad y propaganda:</strong>
  <%= @partida.publicidad_y_propaganda %>
</p>

<p>
  <strong>Vacaciones:</strong>
  <%= @partida.vacaciones %>
</p>

<p>
  <strong>Descuentos sobre compras:</strong>
  <%= @partida.descuentos_sobre_compras %>
</p>

<p>
  <strong>Devoluciones y rebajas sobre ventas:</strong>
  <%= @partida.devoluciones_y_rebajas_sobre_ventas %>
</p>

<%= link_to 'Edit', edit_partida_path(@partida) %> |
<%= link_to 'Back', partidas_path %>
