<%= render "partials/nav"%>
<div class="container-fluid">

	<h2 class="text-center">Bienvenido <%= current_usuario.full_nombre || current_usuario.username%></h2>
	<div class="jumbotron col-md-12 col-lg-offset-1 col-lg-10">
		<div class="objeto col-md-4 col-lg-4">
			<i class="fa fa-newspaper-o fa-grande"></i>
			<h4 class="text-center">Catalogos</h4>
			<i class="fa fa-plus fa-mas"></i>
			<div class="popover bottom">
				<div class="arrow"></div>
				<div class="popover-title">
					<h4>Opciones</h4>
				</div>
				<div class="popover-content">
					<%= link_to new_contribuyente_path do %>
					<i class="fa fa-user-plus"></i> Agregar nuevo Contribuyente
					<% end %>
					<br>
					<%= link_to new_establecimiento_path do %>
					<i class="fa fa-building"></i> Agregar un nuevo Establecimiento
					<% end %>
					<br>
					<%= link_to new_proveedor_path do %>
					<i class="fa fa-buysellads"></i> Agregar un nuevo Proveedor
					<% end %>
					<br>
					<%= link_to new_tipo_de_gasto_path do %>
					<i class="fa fa-bank"></i> Agregar Tipo de Gasto
					<% end %>
				</div>
			</div>

		</div>
		<div class="objeto col-md-4 col-lg-4">
			<i class="fa fa-book fa-grande"></i>
			<h4 class="text-center">Libros</h4>
			<i class="fa fa-plus fa-mas"></i>
			<div class="popover bottom">
				<div class="arrow"></div>
				<div class="popover-title">
					<h4>Opciones</h4>
				</div>
				<div class="popover-content">
					<%= link_to new_compra_libro_path do %>
					<i class="fa fa-shopping-cart"></i> Agregar Compra
					<% end %>
					<br>
					<%= link_to new_venta_libro_path do %>
					<i class="fa fa-line-chart"></i> Agregar Venta
					<% end %>
					<br>
					<%= link_to libro_diario_partidas_path do %>
					<i class="fa fa-book"></i> Agregar Partida
					<% end %>
				</div>
			</div>

		</div>
		<div class="col-md-4 col-lg-4 text-center">
			<i class="fa fa-cogs fa-5x"></i>
			<h4 class="text-center">Operaciones Especiales</h4>
			<div class="col-md-12">
				<form id="operacion-libro">
					<span>
						<select  id="escoger-libro" class="form-control">
							<option value="nulo">Seleccione un Libro</option>
							<option value="balance_de_saldos">Libro Balance</option>
							<option value="mayor">Libro Mayor</option>
						</select>
					</span>
					<span>
						<select name="mes" class="form-control" id="escoger-mes">
							<option value="nulo">Selecciona un mes</option>
							<option value="01">Enero</option>
							<option value="02">Febrero</option>
							<option value="03">Marzo</option>
							<option value="04">Abril</option>
							<option value="05">Mayo</option>
							<option value="06">Junio</option>
							<option value="07">Julio</option>
							<option value="08">Agosto</option>
							<option value="09">Septiembre</option>
							<option value="10">Octubre</option>
							<option value="11">Noviembre</option>
							<option value="12">Diciembre</option>
						</select>
					</span>
				</form>
				<div id="link-to-libro">

				</div>
			</div>


		</div>
	</div>
	<%= render "partials/cambio_datos"%>

</div>
