<form action="/usuarios" method="post">
	<input type="hidden" value="put" name="_method">
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
	<div class="field form-group">
		<%= label :contribuyente_id, "Nit (*)" %>
		<% if !@contribuyentes.nil? %>
		<%= collection_select("usuario","contribuyente_id", @contribuyentes.order(:nit), :id, :nit, {prompt: "Selecciona"}, {class:"form-control"} )%>	
		<% else %>
		<br>
		<%= link_to   new_contribuyente_path,  class:"btn btn-warning " do%>
		No hay Contribuyentes Agregar <i class="fa fa-plus"></i>
		<% end %>
		<% end %>
		
	</div>


	<div class="field form-group">
		<%= label :contribuyente_id, "Establecimiento (*)" %>
		<% if !@contribuyentes.nil? %>
		<%= grouped_collection_select("usuario","establecimiento_id",  
		@contribuyentes, :establecimientos, :nit, :id, :nombre, {prompt: "Selecciona"}, {class:"form-control"} )%>	
		<% else %>
		<br>
		<%= link_to   new_establecimiento_path,  class:"btn btn-warning" do%>
		No hay Establecimientos Agregar <i class="fa fa-plus"></i>
		<% end %>
		<% end %>
		
	</div>
	<div class="field form-group">
		<%= label :mes, "Mes a trabajar" %>
		<select name="usuario[mes]" class="form-control">
			<option value="enero">Enero</option>
			<option value="febrero">Febrero</option>
			<option value="marzo">Marzo</option>
			<option value="abril">Abril</option>
			<option value="mayo">Mayo</option>
			<option value="junio">Junio</option>
			<option value="julio">Julio</option>
			<option value="Agosto">Agosto</option>
			<option value="septiembre">Septiembre</option>
			<option value="octubre">Octubre</option>
			<option value="noviembre">Noviembre</option>
			<option value="diciembre">Diciembre</option>
		</select>
	</div>
	<div class="field form-group">
		<%= label :year,"Año"%>
		<select name="usuario[year]" class="form-control">
			<option value="2015">2015</option>
			<option value="2016">2016</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
			<option value="2019">2019</option>
			<option value="2020">2020</option>
		</select>
	</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<input type="submit" value="Cambiar" name="commit" class="btn btn-info">
</form>