<div class="well sesiones col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
	<h2 class="text-center">Olvidaste tu contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Enviarme instrucciones de desbloqueo", class:"btn btn-danger btn-block" %>
  </div>
  <br>
<% end %>
<div class="col-md-12">
<%= render 'devise/shared/links'%>
</div>
</div>
<style>
  body{
    background: #757D75;
  }
</style>