<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
  <div class="alert alert-danger alert-dismissable col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <strong>Error</strong> los campos con asterisco <strong>(*)</strong> son requeridos
  </div>
  <% end %>

  <div class="field form-group col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 ">
    <%= f.label :nombre, "Nombre (*)" %><br>
    <%= f.text_field :nombre,class:"form-control", autofocus: true %>
  </div>
  <div class="field form-group col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 ">
    <%= f.label :nit, "Nit (*)" %><br>
    <%= f.text_field :nit,class:"form-control" %>
  </div>
   <div class="actions col-md-12 col-sm-12 col-xs-12">
  
    <%= link_to content_tag(:i ,' Volver' ,class:"fa fa-arrow-circle-left "), proveedors_path , class:"btn btn-normal col-md-offset-3 col-md-2 col-sm-offset-3 col-sm-2"%>
    <%= button_tag(type: "submit", class: "btn btn-success col-md-2 col-sm-2") do %>
    <i class="fa fa-save"></i> Guardar 
    <% end %>
    <%= button_tag(type: "reset", class: "btn btn-danger col-md-2 col-sm-2") do %>
    <i class="fa fa-undo"></i> Reiniciar 
    <% end %>
    
  </div>
<% end %>
