<%= render 'mininav' %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nit</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @proveedors.each do |proveedor| %>
    <tr>
      <td><%= proveedor.nombre %></td>
      <td><%= proveedor.nit %></td>
      <td class="td-btn">
        <%= link_to content_tag(:i ,'',class:"fa fa-eye"), proveedor ,class:"btn btn-default col-md-12 text-center"%>
      </td>
      <td class="td-btn">
        <%= link_to content_tag(:i ,'',class:"fa fa-pencil"),
           edit_proveedor_path(proveedor) ,class:"btn btn-info col-md-12 text-center" %>
      </td>
      <td class="td-btn">
        <%= link_to content_tag(:i ,'',class:"fa fa-trash-o"),
         proveedor, method: :delete, data: { confirm: 'Estas seguro?' },class:"btn btn-danger col-md-12 text-center" %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<br>
<style>
  .todos{
    background: #CCD1D9;
  }
</style>