<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-md-8">
        <span>Contribuyente: <span class="text-muted">
            <strong><%= helper_contribuyente_nombre %></strong>
        </span>
    </span>
    <span>Establecimiento: <span class="text-muted">
        <strong><%= helper_establecimiento_nombre %></strong>
    </span>
</span>
</div>
<%= link_to  operaciones_libro_compra_path , class:"col-md-4 btn btn-info" do %>
Ver Resumen Libro de Compras <i class="fa fa-print"></i>
<%end%>
</div>


<%= form_for(@compra_libro, html: {autocomplete: "off", disabled: true}) do |f| %>
<% if @compra_libro.errors.any? %>
<div class="alert alert-danger alert-dismissable col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <% @compra_libro.errors.full_messages.each do |mensaje|%>
  <%= mensaje%>
  <%end%>
</div>

<% end %>
<%= f.hidden_field :establecimiento_id, value: @u.establecimiento_id %>
<%= f.hidden_field :contribuyente_id, value: @u.contribuyente_id %>
<%= f.hidden_field :mes, value: @u.mes %>
<div class="field form-group col-xs-6 col-sm-2 col-md-2 col-lg-2">
    <%= f.label :documento, "Documento(*)",class:"control-label" %>
    <%= select_tag "compra_libro[documento]", options_for_select([["DA", "DA"], ["FA", "FA"], ["FC", "FC"], ["FE", "FE"], ["FO", "FO"], ["NC", "NC"], ["ND", "ND"]], 2),class:"form-control", required:true, include_blank: true %>
</div>
<div class="field form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
    <label class:"control-label" >Tipo de Documento(*)</label>
    <input type="text" id="tipo-documento" class="form-control" disabled>
</div>
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1">
    <%= f.label :serie, "Serie(*)",class:"control-label" %>
    <%= f.text_field :serie, class:"form-control", required:true %>
</div>
<div class="field form-group col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
    <%= f.label :numero, "Numero(*)",class:"control-label" %>
    <%= f.number_field :numero, class:"form-control", required:true, min:1 %>
</div>
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1 ">
    <%= f.label :dia, "Día(*)",class:"control-label" %>
    <%= f.number_field :dia, class:"form-control", required:true, min:1, max:31 %>
</div>
<div class="field form-group col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
    <%= f.label :dato_mes, "Mes(*)", class:"control-label" %>
    <%= f.text_field :dato_mes, class:"form-control", value:@u.mes, data:{mes: @u.mes}, title:"Escriba un mes Valido", required:true %>
</div >
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1 ">
    <%= f.label :year, "Año(*)", class:"control-label"%>
    <%= f.text_field :year, readonly:"readonly", class:"form-control", value:@u.year, required:true %>
</div>
<div class="field form-group col-xs-6 col-sm-4 col-md-4 col-lg-4">
    <%= f.label :proveedor_nit,"Nit(*)", class:"control-label" %>
    <%= f.text_field :proveedor_nit, id:"compras_proveedor_nit", class:"form-control", autocomplete:"off", required:true  %>
</div>
<div class="field form-group col-xs-6 col-sm-4 col-md-4 col-lg-4 ">
    <%= f.label :proveedor_nombre, "Nombre Proveedor(*)", class:"control-label" %>
    <%= f.text_field :proveedor_nombre, id:"compras_proveedor_nombre" , class:"form-control", required:true%>
</div>
<div class="field form-group col-xs-6 col-sm-4 col-md-4 col-lg-4 ">
    <%= f.label :tipo_de_gasto, "Tipo de Gasto(*)", class:"control-label"%>
    <%= f.text_field :tipo_de_gasto, class:"form-control", id:"compra_libro_tipo_de_gasto", required:true %>
</div>
<div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-sm-4 col-md-4 col-lg-4">
    <h5 class="text-center">Valor Gravado</h5>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= f.label :gravado_bienes, "Bienes", class:"control-label" %>
        <%= f.text_field :gravado_bienes, class:"form-control gravado gravado-bienes" %>
    </div>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <%= f.label :gravado_servicios, "Servicios", class:"control-label" %>
        <%= f.text_field :gravado_servicios, class:"form-control gravado gravado-servicios"%>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h5 class="text-center">Valor Exento</h5>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= f.label :exento_bienes, "Bienes",class:"control-label" %>
        <%= f.text_field :exento_bienes, class:"form-control exento exento-bienes"%>
    </div>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <%= f.label :exento_servicios, "Servicios",class:"control-label" %>
        <%= f.text_field :exento_servicios, class:"form-control exento exento-servicios" %>
    </div>
</div>
<div class="actions col-md-offset-4 col-md-4">

    <% if @u.contribuyente_id.nil? || @u.mes == "Selecciona un Mes" || @u.year == "Selecciona un Año" %>
    <%= button_tag(type: "submit", class: "btn btn-success col-xs-12 col-md-6 col-sm-6", disabled: true) do %>
    <i class="fa fa-save"></i> Guardar
    <% end %>
    <% else %>
    <%= button_tag(type: "submit", id:"send-data", class: "btn btn-success col-xs-12 col-md-6 col-sm-6") do %>
    <i class="fa fa-save"></i> Guardar
    <% end %>
    <% end %>
    <%= button_tag(type: "reset", class: "btn btn-danger col-xs-12 col-md-6 col-sm-6") do %>
    <i class="fa fa-undo"></i> Reiniciar
    <% end %>
</div>
<% end %>
