
<%= link_to  libro_mayor_path, class:"col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center btn btn-primary pdf_link" do %>
<i class="fa fa-angle-left"></i> Volver
<%end%>
<%= link_to  libro_balance_de_saldos_path + ".pdf", class:"col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center btn btn-info pdf_link" do %>
Ver Version Imprimible(PDF) <i class="fa fa-print"></i>
<%end%>
<div id="libro_compras" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div id="pdf-render">
    <div  class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
      <strong><%= helper_contribuyente_nombre %></strong>
    </div>
    <div  class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
      Fecha: <strong><%= p_fecha%></strong>
    </div>
    <div  class="col-xs-9 col-sm-10 col-md-10 col-lg-10">
      <strong><%= helper_establecimiento_nombre %></strong>
    </div>
    <div  class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
      Hora: <strong><%= p_hora %></strong>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      Nit:  <strong><%= helper_contribuyente_nit%></strong>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
    Periodo:  <strong><%= print_meses_periodo(1) %></strong>
    </div>
    <div class="col-xs-6 col-sm-7 col-md-7 col-lg-7 text-center">
      <strong>Libro Balance General de Cuentas</strong>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      Folio:
    </div>
  </div>

  <%= render 'balance' %>
</div>
