<%= render 'mininav' %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_de_gastos.each do |tipo_de_gasto| %>
    <tr>
      <td><%= tipo_de_gasto.nombre %></td>
            <td class="td-btn">
        <%= link_to content_tag(:i ,'',class:"fa fa-eye"), tipo_de_gasto ,class:"btn btn-default col-md-12 text-center"%>
      </td>
      <td class="td-btn">
        <%= link_to content_tag(:i ,'',class:"fa fa-pencil"), edit_tipo_de_gasto_path(tipo_de_gasto) ,class:"btn btn-info col-md-12 text-center" %>

      </td>
      <!--   <td class="td-btn">
          <%= link_to content_tag(:i ,'',class:"fa fa-trash-o"), tipo_de_gasto, method: :delete, data: { confirm: 'Estas seguro?' },class:"btn btn-danger col-md-12 no-window text-center" %>
        </td> -->
    </tr>
    <% end %>
  </tbody>
</table>

<style>
  .todos{
    background: #CCD1D9;
  }
</style>
