<%= form_for(@cuenta_contable) do |f| %>
<% if @cuenta_contable.errors.any? %>
<div class="alert alert-danger alert-dismissable col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <strong>Error</strong> los campos con asterisco <strong>(*)</strong> son requeridos
  </div>
<% end %>


<div class="field form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
  <%= f.label :nombre, "Nombre (*)" %>
  <%= f.text_field :nombre, class:"form-control" %>
</div>
<div class="field form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
  <%= f.label :tipo, "Tipo de Cuenta (*)" %>
  <div class="radio">
  <label >
    <%= f.radio_button :tipo, "Haber"%>
    Haber
  </label>
  </div>
    <div class="radio">
      <label >
        <%= f.radio_button :tipo, "Debe"%>
        Debe
      </label>  
    </div>
  </div>
  <div class="actions col-md-12 col-sm-12 col-xs-12">

    <%= link_to content_tag(:i ,' Volver' ,class:"fa fa-arrow-circle-left "), cuenta_contables_path , class:"btn btn-normal col-md-offset-3 col-md-2 col-sm-offset-3 col-sm-2"%>
    <%= button_tag(type: "submit", class: "btn btn-success col-md-2 col-sm-2") do %>
    <i class="fa fa-save"></i> Guardar 
    <% end %>
    <%= button_tag(type: "reset", class: "btn btn-danger col-md-2 col-sm-2") do %>
    <i class="fa fa-undo"></i> Reiniciar 
    <% end %>
    
  </div>
  <% end %>
