<p id="notice"><%= notice %></p>

<p>
  <strong>Caja:</strong>
  <%= @cuenta_contable.caja %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @cuenta_contable.banco %>
</p>

<p>
  <strong>Clientes:</strong>
  <%= @cuenta_contable.clientes %>
</p>

<p>
  <strong>Deudores:</strong>
  <%= @cuenta_contable.deudores %>
</p>

<p>
  <strong>Acciones suscritas:</strong>
  <%= @cuenta_contable.acciones_suscritas %>
</p>

<p>
  <strong>Suscriptores de acciones:</strong>
  <%= @cuenta_contable.suscriptores_de_acciones %>
</p>

<p>
  <strong>Hipoteca:</strong>
  <%= @cuenta_contable.hipoteca %>
</p>

<p>
  <strong>Prestamos fiduciarios:</strong>
  <%= @cuenta_contable.prestamos_fiduciarios %>
</p>

<p>
  <strong>Documentos por cobrar:</strong>
  <%= @cuenta_contable.documentos_por_cobrar %>
</p>

<p>
  <strong>Documentos por pagar:</strong>
  <%= @cuenta_contable.documentos_por_pagar %>
</p>

<p>
  <strong>Cuentas por cobrar:</strong>
  <%= @cuenta_contable.cuentas_por_cobrar %>
</p>

<p>
  <strong>Cuentas por pagar:</strong>
  <%= @cuenta_contable.cuentas_por_pagar %>
</p>

<p>
  <strong>Proveedores:</strong>
  <%= @cuenta_contable.proveedores %>
</p>

<p>
  <strong>Acreedores:</strong>
  <%= @cuenta_contable.acreedores %>
</p>

<p>
  <strong>Inmuebles:</strong>
  <%= @cuenta_contable.inmuebles %>
</p>

<p>
  <strong>Mobiliario y equipo:</strong>
  <%= @cuenta_contable.mobiliario_y_equipo %>
</p>

<p>
  <strong>Equipo de computacion:</strong>
  <%= @cuenta_contable.equipo_de_computacion %>
</p>

<p>
  <strong>Maquinaria:</strong>
  <%= @cuenta_contable.maquinaria %>
</p>

<p>
  <strong>Herramientas:</strong>
  <%= @cuenta_contable.herramientas %>
</p>

<p>
  <strong>Vehiculos:</strong>
  <%= @cuenta_contable.vehiculos %>
</p>

<p>
  <strong>Cristaleria:</strong>
  <%= @cuenta_contable.cristaleria %>
</p>

<p>
  <strong>Depreciacion acumulada mobiliario y equipo:</strong>
  <%= @cuenta_contable.depreciacion_acumulada_mobiliario_y_equipo %>
</p>

<p>
  <strong>Depreciacion acumulada equipo de computacion:</strong>
  <%= @cuenta_contable.depreciacion_acumulada_equipo_de_computacion %>
</p>

<p>
  <strong>Depreciacion acumulada maquinaria:</strong>
  <%= @cuenta_contable.depreciacion_acumulada_maquinaria %>
</p>

<p>
  <strong>Depreciacion acumulada herramienta:</strong>
  <%= @cuenta_contable.depreciacion_acumulada_herramienta %>
</p>

<p>
  <strong>Depreciacion acumulada vehiculos:</strong>
  <%= @cuenta_contable.depreciacion_acumulada_vehiculos %>
</p>

<p>
  <strong>Depreciacion acumulada cristaleria:</strong>
  <%= @cuenta_contable.depreciacion_acumulada_cristaleria %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @cuenta_contable.capital %>
</p>

<p>
  <strong>Capital autorizado:</strong>
  <%= @cuenta_contable.capital_autorizado %>
</p>

<p>
  <strong>Reserva legal:</strong>
  <%= @cuenta_contable.reserva_legal %>
</p>

<p>
  <strong>Ventas:</strong>
  <%= @cuenta_contable.ventas %>
</p>

<p>
  <strong>Servicios prestados:</strong>
  <%= @cuenta_contable.servicios_prestados %>
</p>

<p>
  <strong>Comisiones devengadas:</strong>
  <%= @cuenta_contable.comisiones_devengadas %>
</p>

<p>
  <strong>Alquileres devengados:</strong>
  <%= @cuenta_contable.alquileres_devengados %>
</p>

<p>
  <strong>Arrendamiento de maquinaria:</strong>
  <%= @cuenta_contable.arrendamiento_de_maquinaria %>
</p>

<p>
  <strong>Alquileres pagados:</strong>
  <%= @cuenta_contable.alquileres_pagados %>
</p>

<p>
  <strong>Gastos generales:</strong>
  <%= @cuenta_contable.gastos_generales %>
</p>

<p>
  <strong>Viaticos:</strong>
  <%= @cuenta_contable.viaticos %>
</p>

<p>
  <strong>Seguros pagados:</strong>
  <%= @cuenta_contable.seguros_pagados %>
</p>

<p>
  <strong>Servicios pagados:</strong>
  <%= @cuenta_contable.servicios_pagados %>
</p>

<p>
  <strong>Reparacion y mantenimiento gastos:</strong>
  <%= @cuenta_contable.reparacion_y_mantenimiento_gastos %>
</p>

<p>
  <strong>Repuestos y accesorios gastos:</strong>
  <%= @cuenta_contable.repuestos_y_accesorios_gastos %>
</p>

<p>
  <strong>Combustibles y lubricantes:</strong>
  <%= @cuenta_contable.combustibles_y_lubricantes %>
</p>

<p>
  <strong>Costo por servicio:</strong>
  <%= @cuenta_contable.costo_por_servicio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cuenta_contable.telefono %>
</p>

<p>
  <strong>Energia electrica:</strong>
  <%= @cuenta_contable.energia_electrica %>
</p>

<p>
  <strong>Medicina y medicamentos:</strong>
  <%= @cuenta_contable.medicina_y_medicamentos %>
</p>

<p>
  <strong>Depreciacion mobiliario y equipo:</strong>
  <%= @cuenta_contable.depreciacion_mobiliario_y_equipo %>
</p>

<p>
  <strong>Depreciacion equipo de computacion:</strong>
  <%= @cuenta_contable.depreciacion_equipo_de_computacion %>
</p>

<p>
  <strong>Depreciacion maquinaria:</strong>
  <%= @cuenta_contable.depreciacion_maquinaria %>
</p>

<p>
  <strong>Depreciacion herramienta:</strong>
  <%= @cuenta_contable.depreciacion_herramienta %>
</p>

<p>
  <strong>Depreciacion vehiculos:</strong>
  <%= @cuenta_contable.depreciacion_vehiculos %>
</p>

<p>
  <strong>Depreciacion cristaleria:</strong>
  <%= @cuenta_contable.depreciacion_cristaleria %>
</p>

<p>
  <strong>Compras:</strong>
  <%= @cuenta_contable.compras %>
</p>

<p>
  <strong>Intereses devengados:</strong>
  <%= @cuenta_contable.intereses_devengados %>
</p>

<p>
  <strong>Intereses pagados:</strong>
  <%= @cuenta_contable.intereses_pagados %>
</p>

<p>
  <strong>Terrenos:</strong>
  <%= @cuenta_contable.terrenos %>
</p>

<p>
  <strong>Edificios:</strong>
  <%= @cuenta_contable.edificios %>
</p>

<p>
  <strong>Gastos constitucion:</strong>
  <%= @cuenta_contable.gastos_constitucion %>
</p>

<p>
  <strong>Sueldos y salarios:</strong>
  <%= @cuenta_contable.sueldos_y_salarios %>
</p>

<p>
  <strong>Retenci¾n igss laboral:</strong>
  <%= @cuenta_contable.retenci¾n_igss_laboral %>
</p>

<p>
  <strong>Cuota patronal:</strong>
  <%= @cuenta_contable.cuota_patronal %>
</p>

<p>
  <strong>Bonificacion e incentivo laboral:</strong>
  <%= @cuenta_contable.bonificacion_e_incentivo_laboral %>
</p>

<p>
  <strong>Bono 14:</strong>
  <%= @cuenta_contable.bono_14 %>
</p>

<p>
  <strong>Aguinaldo:</strong>
  <%= @cuenta_contable.aguinaldo %>
</p>

<p>
  <strong>Fletes sobre compras:</strong>
  <%= @cuenta_contable.fletes_sobre_compras %>
</p>

<p>
  <strong>Indemnizaciones:</strong>
  <%= @cuenta_contable.indemnizaciones %>
</p>

<p>
  <strong>Perdidas y ganancias:</strong>
  <%= @cuenta_contable.perdidas_y_ganancias %>
</p>

<p>
  <strong>Publicidad y propaganda:</strong>
  <%= @cuenta_contable.publicidad_y_propaganda %>
</p>

<p>
  <strong>Vacaciones:</strong>
  <%= @cuenta_contable.vacaciones %>
</p>

<p>
  <strong>Descuentos sobre compras:</strong>
  <%= @cuenta_contable.descuentos_sobre_compras %>
</p>

<p>
  <strong>Devoluciones y rebajas sobre ventas:</strong>
  <%= @cuenta_contable.devoluciones_y_rebajas_sobre_ventas %>
</p>

<%= link_to 'Edit', edit_cuenta_contable_path(@cuenta_contable) %> |
<%= link_to 'Back', cuenta_contables_path %>
