<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <span>Contribuyente: <span class="text-muted">
            <strong><%= helper_contribuyente_nombre %></strong>
        </span>
    </span>
    <span>Establecimiento: <span class="text-muted">
        <strong><%= helper_establecimiento_nombre %></strong>
    </span>
</span>
</div>
<%= link_to  operaciones_libro_venta_path , class:"col-md-4 btn btn-info col-sm-4 col-xs-12" do %>
Ver Resumen Libro de Ventas <i class="fa fa-print"></i>
<%end%>
</div>

<%= form_for(@venta_libro, html: {autocomplete: "off"}) do |f| %>
<% if @venta_libro.errors.any? %>
<div class="alert alert-danger alert-dismissable col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <strong>Error</strong> los campos con asterisco <strong>(*)</strong> son requeridos
    <% if @venta_libro.errors.messages[:contribuyente_id]%>
    <p><strong>Debes Seleccionar un Contribuyente</strong></p>
    <% end %>
    <%if  @venta_libro.errors.messages[:establecimiento_id]%>
    <p><strong>Debes Seleccionar un Establecimiento</strong></p>
    <% end %>
</div>

<% end %>

<div class="field form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <%= f.label :documento, "Documento(*)" %>
    <%=  f.select :documento , options_for_select([["DA", "DA"], ["FA", "FA"], ["FC", "FC"], ["FE", "FE"], ["FO", "FO"], ["NC", "NC"], ["ND", "ND"]]),{include_blank: "Secciona"}, { class:"form-control select", data: {edit:@venta_libro.documento} } %>

</div>
<div class="field form-group col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
    <label >Tipo de Documento(*)</label>
    <input type="text" id="tipo-documento" class="form-control" disabled>
</div>
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1">
    <%= f.label :serie, "Serie(*)" %>
    <%= f.text_field :serie, class:"form-control" , required:true%>
</div>
<div class="field form-group col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
    <%= f.label :numero, "Numero(*)" %>
    <%= f.number_field :numero, class:"form-control" , required:true, min:1 %>
</div>
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1 ">
    <%= f.label :dia, "Día(*)" %>
    <%= f.number_field :dia, class:"form-control", required:true, min:1, max:31  %>
</div>
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1 ">
    <%= f.label :mes, "Mes(*)" %>
    <%= f.number_field :mes, readonly:"readonly", class:"form-control", value:current_usuario.mes , required:true%>
</div >
<div class="field form-group col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
    <%= f.label :year, "Año(*)"%>
    <%= f.text_field :year, readonly:"readonly", class:"form-control", value:current_usuario.year , required:true%>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 ">
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <%= f.label :nit, "Nit(*)" %>
        <%= f.text_field :nit, class:"form-control"%>
    </div>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <%= f.label :nombre, "Nombre(*)" %>
        <%= f.text_field :nombre, class:"form-control"%>
    </div>
</div>
<div class="clearfix"></div>
<% if !@u.contribuyente_id.nil?%>
<div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 col-lg-8">
   <th colspan="8"></th>
   <% if Contribuyente.find(@u.contribuyente_id).t_contribuyente == "normal" %>
   <h5 class="text-center">Valor Gravado</h5>
   <% else %>
   <h5 class="text-center">Valor Exento</h5>
   <% end %>

   <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <%= f.label :bienes, "Bienes", class:"control-label" %>
    <%= f.text_field :bienes, class:"form-control gravado gravado-bienes" %>
</div>
<div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
    <%= f.label :servicios, "Servicios", class:"control-label" %>
    <%= f.text_field :servicios, class:"form-control gravado gravado-servicios"%>
</div>
</div>

<% end %>
<div class="actions col-md-12 col-sm-12 col-xs-12">
   <% if @u.contribuyente_id.nil? || @u.mes == "Selecciona un Mes" || @u.year == "Selecciona un Año" %>
   <%= button_tag(type: "submit", class: "btn btn-success col-sm-offset-3 col-xs-12 col-md-3 col-sm-3", disabled: true) do %>
   <i class="fa fa-save"></i> Guardar
   <% end %>
   <% else %>
   <%= button_tag(type: "submit", id:"send-data", class: "btn btn-success col-xs-12 col-sm-offset-3 col-md-3 col-sm-3") do %>
   <i class="fa fa-save"></i> Guardar
   <% end %>
   <% end %>
   <%= button_tag(type: "reset", class: "btn btn-danger col-md-3 col-sm-3") do %>
   <i class="fa fa-undo"></i> Reiniciar
   <% end %>

</div>
<% end %>
