<div class="col-sm-12 col-md-12 col-lg-12">
    <span>Contribuyente: <span class="text-muted"><strong><%= @contribuyente_nombre %></strong></span></span>
    <span>Establecimiento: <span class="text-muted"><strong><%= @establecimiento_nombre %></strong></span></span>
     <%= link_to  operaciones_libro_venta_path , class:"col-md-offset-3" do %>
        Ver Resumen del Libro de Ventas <i class="fa fa-print"></i>
    <%end%>
</div>
<%= form_for(@venta_libro, html: {autocomplete: "off"}) do |f| %>
<% if @venta_libro.errors.any? %>
<div class="alert alert-danger alert-dismissable col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <strong>Error</strong> los campos con asterisco <strong>(*)</strong> son requeridos
    <% if @venta_libro.errors.messages[:contribuyente_id]%>
    <p><strong>Debes Seleccionar un Contribuyente</strong></p>
    <% end %>
    <%if  @venta_libro.errors.messages[:establecimiento_id]%>
    <p><strong>Debes Seleccionar un Establecimiento</strong></p>
    <% end %>
</div>

<% end %>

<div class="field form-group col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <%= f.label :documento %>
    <select name="venta_libro[documento]" class="form-control" id="compra_libro_documento" required>
        <option value="" selected="selected"></option>
        <option value="DA">DA</option>
        <option value="FA">FA</option>
        <option value="FC">FC</option>
        <option value="FE">FE</option>
        <option value="FO">FO</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
    </select>
</div>
<div class="field form-group col-xs-6 col-sm-3 col-md-3 col-lg-3 ">
    <label >Tipo de Documento</label>
    <input type="text" id="tipo-documento" class="form-control" disabled>
</div>
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1">
    <%= f.label :serie %>
    <%= f.text_field :serie, class:"form-control" , required:true%>
</div>
<div class="field form-group col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
    <%= f.label :numero %>
    <%= f.text_field :numero, class:"form-control" , required:true%>
</div>
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1 ">
    <%= f.label :dia %>
    <%= f.text_field :dia, class:"form-control", required:true %>
</div>
<div class="field form-group col-xs-6 col-sm-2 col-md-2 col-lg-2 ">
    <%= f.label :mes %>
    <%= f.text_field :mes, readonly:"readonly", class:"form-control", value:current_usuario.mes , required:true%>
</div >
<div class="field form-group col-xs-6 col-sm-1 col-md-1 col-lg-1 ">
    <%= f.label :year, "Año"%>
    <%= f.text_field :year, readonly:"readonly", class:"form-control", value:current_usuario.year , required:true%>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 ">
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
    <%= f.label :nit %>
    <%= f.text_field :nit, class:"form-control" , required:true%>
</div>
<div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
    <%= f.label :nombre %>
    <%= f.text_field :nombre, class:"form-control" , required:true%>
</div>
</div>

<div class="col-xs-12 col-md-offset-2 col-sm-4 col-md-4 col-lg-4">
    <h5 class="text-center">Valor Gravado</h5>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= f.label :gravado_bienes, "Bienes" %>
        <%= f.text_field :gravado_bienes, class:"form-control gravado gravado-bienes", required:true%>
    </div>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <%= f.label :gravado_servicios, "Servicios" %>
        <%= f.text_field :gravado_servicios, class:"form-control gravado gravado-servicios" , required:true%>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h5 class="text-center">Valor Exento</h5>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <%= f.label :exento_bienes, "Bienes" %>
        <%= f.text_field :exento_bienes, class:"form-control exento exento-bienes" , required:true%>
    </div>
    <div class="field form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <%= f.label :exento_servicios, "Servicios" %>
        <%= f.text_field :exento_servicios, class:"form-control exento exento-servicios" , required:true%>
    </div>
</div>

<%=  f.hidden_field :base, class:"base-iva" %>
<%=  f.hidden_field :iva, class:"base-iva" %>
<div class="actions col-md-12 col-sm-12 col-xs-12">
   <% if @u.contribuyente_id.nil? %>
    <%= button_tag(type: "submit", class: "btn btn-success col-sm-offset-3 col-xs-12 col-md-3 col-sm-3", disabled: true) do %>
    <i class="fa fa-save"></i> Guardar 
    <% end %>
    <% else %>
    <%= button_tag(type: "submit", class: "btn btn-success col-xs-12 col-md-3 col-sm-3", disabled: true) do %>
    <i class="fa fa-save"></i> Guardar 
    <% end %>
    <% end %>
    <%= button_tag(type: "reset", class: "btn btn-danger col-md-3 col-sm-3") do %>
    <i class="fa fa-undo"></i> Reiniciar 
    <% end %>

</div>
<% end %>
