<p id="notice"><%= notice %></p>

<p>
  <strong>Documento:</strong>
  <%= @venta_libro.documento %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @venta_libro.serie %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @venta_libro.numero %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @venta_libro.dia %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @venta_libro.mes %>
</p>

<p>
  <strong>Year:</strong>
  <%= @venta_libro.year %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @venta_libro.nit %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @venta_libro.nombre %>
</p>

<p>
  <strong>Gravado bienes:</strong>
  <%= @venta_libro.gravado_bienes %>
</p>

<p>
  <strong>Gravado servicios:</strong>
  <%= @venta_libro.gravado_servicios %>
</p>

<p>
  <strong>Exento bienes:</strong>
  <%= @venta_libro.exento_bienes %>
</p>

<p>
  <strong>Exento servicios:</strong>
  <%= @venta_libro.exento_servicios %>
</p>

<p>
  <strong>Base:</strong>
  <%= @venta_libro.base %>
</p>

<p>
  <strong>Iva:</strong>
  <%= @venta_libro.iva %>
</p>

<p>
  <strong>Total:</strong>
  <%= @venta_libro.total %>
</p>

<p>
  <strong>Contribuyente:</strong>
  <%= @venta_libro.contribuyente %>
</p>

<p>
  <strong>Establecimiento:</strong>
  <%= @venta_libro.establecimiento %>
</p>

<%= link_to 'Edit', edit_venta_libro_path(@venta_libro) %> |
<%= link_to 'Back', venta_libros_path %>
