<%= link_to libro_diario_resumen_path, class:"col-md-12 text-center btn btn-info"  do %>
<i class="fa fa-book"></i> Ver Resumen
<% end %>
<form action="#">
  <div class="col-md-5">
    <label class="control-label">Buscar campo</label>
    <input type="text" class="form-control" name="nombre-campo" id="nombre-de-campo" autocomplete="off" placeholder="Ingresa el nombre de la Cuenta" autofocus required>
  </div>
  <div class="col-md-3">
    <label class="control-label">Valor</label>
    <input type="text" id="valor-de-campo" placeholder="Ingresa la Cantidad" class="form-control" autocomplete="off" pattern="^\d+$" title="Solo se aceptan numeros">
  </div>
  <div class="container col-md-4">
    <div class="radio col-md-12">
      <label class="bold">
        <input type="radio" name="tipo" id="debe" value="debe" checked>
        Debe
      </label>
    </div>
    <div class="radio col-md-12">
      <label class="bold">
        <input type="radio" name="tipo" id="haber" value="haber">
        Haber
      </label>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="col-md-2">
    <label>Agregar a Partida</label>
    <input type="submit" id="agregar" value="Agregar" class="btn btn-success">
  </div>
</form>
<div class="col-md-2">
  <label>Reiniciar</label><br/>
  <input type="reset" id="reboot" value="Reiniciar" class="btn btn-default">
</div>

<% if @u.establecimiento_id == nil %>
<div class="col-md-8 col-md-offset-2">
  <p class="bg-warning text-center text-muted" style="padding: 20px;">No puedes <strong>A침adir Partidas</strong> porque no has seleccionado el <strong>Establecimiento</strong> con el que deseas trabajar</p>
</div>
<% end %>

<div class="col-md-12" style="margin-top:20px;">
 <table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre De Cuentas</th>
      <th colspan="2">Debe</th>
      <th colspan="2">Haber</th>
    </tr>

  </thead>

  <tbody id="tbody-partida">
    <tr id="total">
      <td class="left border-grueso-right">Total</td>
      <td colspan="2" id="total-debe" class="termina-partida"><span class="quetzal">Q</span><span class="monto">0.00</span></td>
      <td colspan="2" id="total-haber" class="termina-partida"><span class="quetzal">Q</span><span class="monto">0.00</span></td>
    </tr>
  </tbody>
</table>

</div>

<div class="col-md-12">
	<%= form_for @partida do |f| %>
 <div class="field col-md-8">
  <%= f.label :descripcion, class:"label-control" %>
  <%= f.text_field :descripcion, class:"form-control", required:true, placeholder:"Agrega una descripci칩n" %>
  <br>
</div>
<div class="clearfix"></div>
<div class="col-md-2">
  <% if @u.establecimiento_id == nil %>
  <%= f.submit "A침adir Partida", class:"form-control btn btn-primary" , disabled:true%>
  <% else %>
  <%= f.submit "A침adir Partida", class:"form-control btn btn-primary" %>
  <% end %>
</div>
<%end%>
</div>
