<div id="resumen">
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th>Nombre de Cuentas</th>
				<th>Debe</th>
				<th>Haber</th>
			</tr>
		</thead>
		<tbody>


			<% @partidas_libro_diario.each do |p| %>
			<% partida = p.solo_campos_valids %>
			<tr>
				<td colspan="3">Partida # <%= partida["numero_partida"] %></td>
			</tr>

			<% if partida["caja_h"] %>
			<tr>
				<td class="left border-grueso-right">Caja</td>
				<td></td>
				<td>Q<%= partida["caja_h"] %></td>
			</tr>	
			<% partida.each do |nombre, valor|
				if nombre != "descripcion" && nombre != "caja_h" && nombre != "caja_d" && nombre != "numero_partida" %>
				<tr>
					<td class="left border-grueso-right"><%= nombre.split("_").map(&:capitalize).join(' ') %></td>
					<td>Q<%= valor %></td>
					<td></td>
				</tr>
				<% end %>
				<% end %>		
				<tr>
					<td class="left border-grueso-right">Total</td>
					<td class="termina-partida">Q<%= partida["caja_h"] %></td>
					<td class="termina-partida">Q<%= partida["caja_h"] %></td>
				</tr>
				<tr>
					<td>Descripción</td>
					<td colspan="2"><%= partida["descripcion"] %></td>
				</tr>
				<% end %>
				<% if partida["caja_d"]
					partida.each do |nombre, valor|
						if nombre != "descripcion" && nombre != "caja_h" && nombre != "caja_d" && nombre != "numero_partida" %>
						<tr>
							<td class="left border-grueso-right"><%= nombre.split("_").map(&:capitalize).join(' ') %></td>
							<td></td>
							<td>Q<%= valor %></td>
						</tr>
						<% end %>
						<% end %>
						<tr>
							<td class="left border-grueso-right">Caja</td>
							<td>Q<%= partida["caja_d"] %></td>
							<td></td>
						</tr>			

						<tr>
							<td class="left border-grueso-right">Total</td>
							<td class="termina-partida">Q<%= partida["caja_d"] %></td>
							<td class="termina-partida">Q<%= partida["caja_d"] %></td>
						</tr>
						<tr>
							<td>Descripción</td>
							<td colspan="2"><%= partida["descripcion"] %></td>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
			</div>