<div id="resumen">
	
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th>Nombre de Cuentas</th>
				<th>Debe</th>
				<th>Haber</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="3">Partida #<%= @partida_1.numero_partida %></td>
			</tr>
			<tr>
				<td class="left border-grueso-right">Ventas</td>
				<td></td>
				<td>Q<%= @partida_1.ventas %></td>
			</tr>
			<tr>
				<td class="left border-grueso-right">IVA Credito Fiscal</td>
				<td></td>
				<td>Q<%= @partida_1.iva_credito_fiscal %></td>
			</tr>
			<tr>
				<td class="left border-grueso-right">Caja</td>
				<td>Q<%= @partida_1.caja_d %></td>
				<td></td>
			</tr>
			<tr>
				<td class="left border-grueso-right">Total</td>
				<td class="termina-partida">Q<%= @partida_1.caja_d %></td>
				<td class="termina-partida">Q<%= @partida_1.caja_d %></td>
			</tr>

			<% if @partida_1.descripcion == "" %>
			<tr>
				<td>Descripci贸n</td>
				<td colspan="2">
					
				</td>
			</tr>
			<% else %>
			<tr>
				<td>Descripci贸n</td>
				<td colspan="2"><%= @partida_1.descripcion %></td>
			</tr>

			<% end %>
			<tr class="separar">
				<td colspan="3">Partida #<%= @partida_2.numero_partida %></td>
			</tr>
			<tr>
				<td class="left border-grueso-right">Caja</td>
				<td></td>
				<td>Q<%= @partida_2.caja_h %></td>
			</tr>

			<tr>
				<td class="left border-grueso-right">Compras</td>
				<td>Q<%= @partida_2.compras %></td>
				<td></td>
			</tr>
			<tr>
				<td class="left border-grueso-right">IVA Credito Fiscal</td>
				<td>Q<%= @partida_2.iva_credito_fiscal %></td>
				<td></td>
			</tr>
			<tr>
				<td class="left border-grueso-right">Total</td>
				<td class="termina-partida">Q<%= @partida_2.caja_h %></td>
				<td class="termina-partida">Q<%= @partida_2.caja_h %></td>
			</tr>
			<tr>
				<td>Descripci贸n</td>
				<td colspan="2"><input type="text" placeholder="Ingresa una descripci贸n...." class="form-control" id="descripcion_partida_2"></td>
			</tr>
		</tbody>
	</table>
</div>
