<!DOCTYPE html>
<html lang="es">
<head>
	<title>Contabilidad</title>
	<link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div id="notice" class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<span><%= notice %></span>
	</div>
	<div id="alert" class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<span><%= alert %></span>
	</div>
	<%= yield %>


</body>
</html>
