<%= render 'mininav' %>
<br>
<div class="list-group ">

  <a class="list-group-item active col-md-12 col-xs-12 col-lg-12" href="#">

    Datos Personales

  </a>
  <a class="list-group-item col-xs-12 col-sm-6 col-md-6 col-lg-4" href="#">
    <p>
      <strong>Nit:</strong>
      <%= @contribuyente.nit %>
    </p>
  </a>
  <a class="list-group-item col-xs-12 col-sm-6 col-md-6 col-lg-4" href="#">

    <p>
      <strong>Nombre:</strong>
      <%= @contribuyente.nombre %>
    </p>
  </a>
  <a class="list-group-item col-xs-12 col-sm-6 col-md-6 col-lg-4" href="#">
   <p>
    <strong>Calle:</strong>
    <%= @contribuyente.calle %>
  </p>

</a>

<a class="list-group-item col-xs-12 col-sm-6 col-md-6 col-lg-4" href="#">
  <p>
    <strong>Zona:</strong>
    <%= @contribuyente.zona %>
  </p>

</a>
<a class="list-group-item col-xs-12 col-sm-6 col-md-6 col-lg-4" href="#">
 <p>
  <strong>Colonia:</strong>
  <%= @contribuyente.colonia %>
</p>
</a>
<a class="list-group-item col-xs-12 col-sm-6 col-md-6 col-lg-4" href="#">

  <p>
    <strong>Departamento:</strong>
    <%= @contribuyente.departamento %>
  </p>


</a>
<a class="list-group-item col-xs-12 col-sm-6 col-md-6 col-lg-4" href="#">
  <p>
    <strong>Municipio:</strong>
    <%= @contribuyente.municipio %>
  </p>
</a>
<a class="list-group-item col-xs-12 col-sm-6 col-md-6 col-lg-4" href="#">  
  <p>
    <strong>Telefono:</strong>
    <%= @contribuyente.telefono %>
  </p>
</a>


<div class="col-xs-12 col-md-12 col-lg-12 text-center">   
<br>
  <%= link_to  contribuyentes_path, class:"btn btn-normal"  do %>
    <i class="fa fa-arrow-circle-left"></i> Volver
  <% end %>
  |
  <%= link_to  edit_contribuyente_path(@contribuyente), class:"btn btn-info" do%>
      Editar <i class="fa fa-pencil"></i>
    <% end %>
</div>

