<p id="notice"><%= notice %></p>

<p>
  <strong>Nit:</strong>
  <%= @contribuyente.nit %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @contribuyente.nombre %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @contribuyente.calle %>
</p>

<p>
  <strong>No casa:</strong>
  <%= @contribuyente.no_casa %>
</p>

<p>
  <strong>Apto similar:</strong>
  <%= @contribuyente.apto_similar %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @contribuyente.zona %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @contribuyente.colonia %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @contribuyente.departamento %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @contribuyente.municipio %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @contribuyente.telefono %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @contribuyente.fax %>
</p>

<p>
  <strong>Apto postal:</strong>
  <%= @contribuyente.apto_postal %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contribuyente.email %>
</p>

<%= link_to 'Edit', edit_contribuyente_path(@contribuyente) %> |
<%= link_to 'Back', contribuyentes_path %>
